
html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow: hidden;
}
.spinner{
    animation: spin 2s linear infinite;
}
.fullWidth{
    width:100%;
    /*animation: spin 2s linear infinite;*/

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.space{
    padding-right: 8px;
}
.formattedTitle{
    display:inline-block;
    height:60px;
    width:100%;
}
.floatLeft{
    float:left;
}
.middle{
    float:left;
    padding-left:10px;
    padding-right:10px;
}

.img-container {
  min-height: 750px;
  background-image: url(../images/fire.gif);
  background-size: 1200px 750px;
  overflow: hidden;
  width:100%;
    
}

.modalText {
    padding-left: 50px;
    font-size: 20px;
   
    
}

.footer {
   position:fixed;
   bottom:0px;
   height:55px;
   background-color: #212121;
}

.headText{
    position: fixed;
    top:0px;
    height:55px;
    background-color: #212121;
}

.parallaxMainText{
    font-family: 'Khand', serif;
    font-size: 65pt;
    color:white;
     
   
}
.headerLine{
   position:fixed;
   top:55px;
   height:1px;
   background-color: orange;
}
 
.footerLine{
   position:fixed;
   bottom:55px;
   height:1px;
   background-color: orange;
}

.modalHead{
    padding-left: 50px;
    font-size: 20px;
    position: fixed;
    top: 0px;
    height: 70px;
    
}



.parallaxSubText{
    font-size: 30px;
    color: ghostwhite;
     -webkit-animation:colorchange 20s infinite alternate;
    
    
}

.ghostBorder {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: ghostwhite;
  border: 2px solid white;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghostBorder:hover, ghostBorder:active {
  color:red;
  border-color: red;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}



.marginDown{
    margin-top: 1.5%;
}

.marginTop{
    margin-bottom: 2%;
}


.space{
    height:100px;
    background-color: #212121;
}

.moveOver{
    float: right;
    width: 100%;
}

.contentArea{
    background-color: black;
}

.nameHeading{
    font-size: 30px;
    color:cyan;
}

.fullModal{
    max-height: 100%;
}
#toast-container {
    position: fixed !important;
    bottom: 500px !important;
    right: 300px !important;
}

@import 'https://fonts.googleapis.com/css?family=Khand:400,700';

#replay{
  float: right;
  font-family: 'Roboto';
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

#replay:hover {
  text-decoration: underline;
}

#port{
  clear: right;
    
}

inside {
    
  display: inline-block;
  font-family: 'Roboto';
  font-size: 72px;
  color: orangered;
  text-transform: uppercase;
  animation-iteration-count: infinite;
  margin: 0 20px;
  float: left;
  opacity: 0.0;
  animation: port 3s 5 infinite forwards;
  -webkit-animation: port 5s 5 infinite forwards;
    
}

@keyframes port {
   
    
  0%{
    transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
   animation-iteration-count: infinite;
}

@-webkit-keyframes port {
  0%{
   -webkit-transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    -webkit-transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
    animation-iteration-count: infinite;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


    